@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = "_TeacherLayout";
    ViewData["Title"] = "Ngân hàng đề thi";
}
@model ExamPaperBankViewModel
<div>
    @await Html.PartialAsync("_PageHeadingPartial", "Ngân hàng đề thi")
    <div class="flex items-center justify-between">
        <form class="basis-1/2">
            <label for="default-search" class="mb-2 text-sm font-medium text-gray-900 sr-only dark:text-white">Search</label>
            <div class="relative">
                <div class="absolute inset-y-0 start-0 flex items-center ps-3 pointer-events-none">
                    <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z" />
                    </svg>
                </div>
                <input type="search" id="default-search" class="block w-full p-4 ps-10 text-sm text-gray-900 border border-transparent rounded-lg bg-white focus:ring-transparent focus:border-transparent dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-violet-500 dark:focus:border-violet-500" placeholder="Tìm kiếm đề thi tại đây..." required>
                <button type="submit" class="text-white absolute end-2.5 bottom-2.5 bg-violet-700 hover:bg-violet-800 focus:ring-4 focus:outline-none focus:ring-violet-300 font-medium rounded-lg text-sm px-4 py-2 dark:bg-violet-600 dark:hover:bg-violet-700 dark:focus:ring-violet-800">Tìm kiếm</button>
            </div>
        </form>     
    </div>
    <div class="flex items-center justify-end">
        <div class="hidden sm:flex sm:items-baseline sm:space-x-8">           
            <div class="relative inline-block text-left dropdown-container">
                <div>
                    <button type="button" id="status-dropdown-btn" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false">
                        <span>Trạng thái</span>
                        <span id="selected-status" class="selected-item ml-1.5 rounded bg-gray-200 px-1.5 py-0.5 text-xs font-semibold tabular-nums text-gray-700">Tất cả</span>
                        <svg class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div id="status-dropdown" class="hidden absolute right-0 z-10 mt-2 origin-top-right rounded-md bg-white p-4 shadow-sm focus:outline-none">
                    <form class="space-y-4">
                        <div class="flex items-center dropdown-item">
                            <input id="status-all" name="status" value="all" type="radio" class="h-4 w-4 border-gray-300 text-violet-600 focus:ring-violet-500">
                            <label for="status-all" class="dropdown-item-name ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900">Tất cả</label>
                        </div>        
                        @foreach(var status in Model.Statuses)
                        {
                            <div class="flex items-center dropdown-item">
                                <input id="status-@status.ExamPaperStatus" name="status" value="@status.ExamPaperStatus" type="radio" class="h-4 w-4 border-gray-300 text-violet-600 focus:ring-violet-500">
                                <label for="status-@status.ExamPaperStatus" class="dropdown-item-name ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900">@status.ExamPaperStatusAsString</label>
                            </div>
                        }
                    </form>
                </div>
            </div>
            <div class="relative inline-block text-left dropdown-container">
                <div>
                    <button type="button" id="course-dropdown-btn" class="group inline-flex items-center justify-center text-sm font-medium text-gray-700 hover:text-gray-900" aria-expanded="false">
                        <span>Môn học</span>
                        <span id="selected-course" class="selected-item ml-1.5 rounded bg-gray-200 px-1.5 py-0.5 text-xs font-semibold tabular-nums text-gray-700">Tất cả</span>
                        <svg class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                            <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd"></path>
                        </svg>
                    </button>
                </div>
                <div id="course-dropdown" class="max-h-96 overflow-y-scroll hidden absolute right-0 z-10 mt-2 origin-top-right rounded-md bg-white p-4 shadow-sm focus:outline-none">
                    <form class="space-y-4">  
                        <div class="flex items-center dropdown-item">
                            <input id="course-all" name="course" value="all" type="radio" class="h-4 w-4 border-gray-300 text-violet-600 focus:ring-violet-500">
                            <label for="course-all" class="dropdown-item-name ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900">Tất cả</label>
                        </div>
                        @foreach (var course in Model.Courses)
                        {
                            <div class="flex items-center dropdown-item">
                                <input id="course-@course.Id" name="course" value="@course.Id" type="radio" class="h-4 w-4 border-gray-300 text-violet-600 focus:ring-violet-500">
                                <label for="course-@course.Id" class="dropdown-item-name ml-3 whitespace-nowrap pr-6 text-sm font-medium text-gray-900">@course.Name</label>
                            </div>
                        }                     
                    </form>
                </div>
            </div>
            <div class="relative inline-block text-left">
                <button type="button" id="filter-btn" class="inline-flex items-center gap-x-1.5 rounded-md bg-violet-600 px-2.5 py-1.5 text-sm font-semibold text-white shadow-sm hover:bg-violet-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-600">
                    Lọc
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="-mr-0.5 h-4 w-4">
                        <path fill-rule="evenodd" d="M3.792 2.938A49.069 49.069 0 0112 2.25c2.797 0 5.54.236 8.209.688a1.857 1.857 0 011.541 1.836v1.044a3 3 0 01-.879 2.121l-6.182 6.182a1.5 1.5 0 00-.439 1.061v2.927a3 3 0 01-1.658 2.684l-1.757.878A.75.75 0 019.75 21v-5.818a1.5 1.5 0 00-.44-1.06L3.13 7.938a3 3 0 01-.879-2.121V4.774c0-.897.64-1.683 1.542-1.836z" clip-rule="evenodd"></path>
                    </svg>
                </button>
            </div>
        </div>
    </div>
    <div class="mb-10">
        <div class="mt-8 flow-root">
            <div class="-mx-4 -my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                <div class="inline-block min-w-full py-2 align-middle sm:px-6 lg:px-8">
                    <div class="overflow-hidden sm:rounded-lg">
                        <div id="table-container">

                        </div>
                        <div id="pagination-container">

                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="flex items-center gap-2">
    <button title="Tạo đề thi mới" type="button" class="rounded-full bg-violet-600 p-2 text-white shadow-sm hover:bg-violet-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-600">
        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
        </svg>
    </button>
    <a href="/exam-paper/create" class="text-sm font-semibold text-violet-600 hover:text-violet-500">Tạo đề thi mới</a>
</div>
<script src="~/js/pages/exam-paper-bank.page.js" type="module"></script>

@* <tr class="">
    <td class="whitespace-nowrap py-4 pl-4 pr-3 text-sm font-medium text-gray-900 sm:pl-6">id</td>
    <td class="whitespace-normal px-3 py-4 text-sm text-gray-500">
        <div class="font-medium text-violet-800 text-sm">examPaperCode</div>
        <div class="mt-1 text-gray-500">Đã tạo bởi <a href="#" class="font-medium text-gray-600">author.fullName</a></div>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">course.name</td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">numbersOfQuestions</td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">timeAllowedInMinutes</td>

    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">
        <div class="flex -space-x-4 rtl:space-x-reverse">
            <img class="w-9 h-9 border-2 border-white rounded-full dark:border-gray-800" src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <img class="w-9 h-9 border-2 border-white rounded-full dark:border-gray-800" src="https://images.unsplash.com/photo-1550525811-e5869dd03032?ixlib=rb-1.2.1&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="">
            <img class="w-9 h-9 border-2 border-white rounded-full dark:border-gray-800" src="https://images.unsplash.com/photo-1500648767791-00dcc994a43e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2.25&w=256&h=256&q=80" alt="">
            <a class="flex items-center justify-center w-9 h-9 text-xs font-medium text-violet-800 bg-violet-100 border-2 border-white rounded-full" href="#">
                <svg class="h-4 w-4" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path d="M10.75 4.75a.75.75 0 00-1.5 0v4.5h-4.5a.75.75 0 000 1.5h4.5v4.5a.75.75 0 001.5 0v-4.5h4.5a.75.75 0 000-1.5h-4.5v-4.5z" />
                </svg>
            </a>
        </div>
    </td>
    <td class="whitespace-nowrap px-3 py-4 text-sm text-gray-500">Đang chờ</td>
    <td class="relative whitespace-nowrap py-4 px-2">
        <a href="#" class="flex items-center gap-2 text-green-500 hover:text-green-800">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path d="M21.731 2.269a2.625 2.625 0 00-3.712 0l-1.157 1.157 3.712 3.712 1.157-1.157a2.625 2.625 0 000-3.712zM19.513 8.199l-3.712-3.712-8.4 8.4a5.25 5.25 0 00-1.32 2.214l-.8 2.685a.75.75 0 00.933.933l2.685-.8a5.25 5.25 0 002.214-1.32l8.4-8.4z" />
                <path d="M5.25 5.25a3 3 0 00-3 3v10.5a3 3 0 003 3h10.5a3 3 0 003-3V13.5a.75.75 0 00-1.5 0v5.25a1.5 1.5 0 01-1.5 1.5H5.25a1.5 1.5 0 01-1.5-1.5V8.25a1.5 1.5 0 011.5-1.5h5.25a.75.75 0 000-1.5H5.25z" />
            </svg>
            <span class="text-right text-sm font-medium">Sửa</span>
        </a>
    </td>
    <td class="relative whitespace-nowrap py-4 px-2">
        <a href="#" class="flex items-center gap-2 text-red-500 hover:text-red-800">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-4 h-4">
                <path fill-rule="evenodd" d="M16.5 4.478v.227a48.816 48.816 0 013.878.512.75.75 0 11-.256 1.478l-.209-.035-1.005 13.07a3 3 0 01-2.991 2.77H8.084a3 3 0 01-2.991-2.77L4.087 6.66l-.209.035a.75.75 0 01-.256-1.478A48.567 48.567 0 017.5 4.705v-.227c0-1.564 1.213-2.9 2.816-2.951a52.662 52.662 0 013.369 0c1.603.051 2.815 1.387 2.815 2.951zm-6.136-1.452a51.196 51.196 0 013.273 0C14.39 3.05 15 3.684 15 4.478v.113a49.488 49.488 0 00-6 0v-.113c0-.794.609-1.428 1.364-1.452zm-.355 5.945a.75.75 0 10-1.5.058l.347 9a.75.75 0 101.499-.058l-.346-9zm5.48.058a.75.75 0 10-1.498-.058l-.347 9a.75.75 0 001.5.058l.345-9z" clip-rule="evenodd" />
            </svg>
            <span class="text-right text-sm font-medium">Xóa</span>
        </a>
    </td>
</tr> *@


