@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create new question";
    Layout = "_AdminSidebar";
}
@await Html.PartialAsync("_PageHeadingPartial", "Tạo câu hỏi mới")
@await Html.PartialAsync("_SectionHeadingPartial", "Lựa chọn môn học")
<fieldset>

    <div id="course-container" class="mt-6 mb-10 grid grid-cols-1 gap-y-6 sm:grid-cols-3 sm:gap-x-4">
        <!-- Active: "border-violet-600 ring-2 ring-violet-600", Not Active: "border-gray-300" -->
        <label class="course relative flex cursor-pointer rounded-lg bg-violet-50 p-4 focus:outline-none">
            <input type="radio" name="project-type" value="Newsletter" class="sr-only" aria-labelledby="project-type-0-label" aria-describedby="project-type-0-description-0 project-type-0-description-1">
            <span class="flex flex-1">
                <span class="flex flex-col">
                    <span id="project-type-0-label" class="block text-sm font-medium text-violet-800">Lập trình hướng đối tượng</span>
                    <span id="project-type-0-description-0" class="mt-1 flex items-center text-sm text-gray-500">Chưa có câu hỏi nào được tạo</span>
                    <span id="project-type-0-description-1" class="mt-6 text-sm font-medium text-gray-900">0 câu hỏi</span>
                </span>
            </span>
            <!-- Not Checked: "invisible" -->
            <svg class="checkbox h-5 w-5 text-violet-600 invisible" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            </svg>
            <!--
              Active: "border", Not Active: "border-2"
              Checked: "border-violet-600", Not Checked: "border-transparent"
            -->
            <span class="pointer-events-none absolute -inset-px rounded-lg border-transparent" aria-hidden="true"></span>
        </label>
        <!-- Active: "border-violet-600 ring-2 ring-violet-600", Not Active: "border-gray-300" -->
        <label class="course relative flex cursor-pointer rounded-lg bg-violet-50 p-4 focus:outline-none">
            <input type="radio" name="project-type" value="Newsletter" class="sr-only" aria-labelledby="project-type-0-label" aria-describedby="project-type-0-description-0 project-type-0-description-1">
            <span class="flex flex-1">
                <span class="flex flex-col">
                    <span id="project-type-0-label" class="block text-sm font-medium text-violet-800">Kiến trúc máy tính</span>
                    <span id="project-type-0-description-0" class="mt-1 flex items-center text-sm text-gray-500">Chưa có câu hỏi nào được tạo</span>
                    <span id="project-type-0-description-1" class="mt-6 text-sm font-medium text-gray-900">0 câu hỏi</span>
                </span>
            </span>
            <!-- Not Checked: "invisible" -->
            <svg class="checkbox h-5 w-5 text-violet-600 invisible" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            </svg>
            <!--
              Active: "border", Not Active: "border-2"
              Checked: "border-violet-600", Not Checked: "border-transparent"
            -->
            <span class="pointer-events-none absolute -inset-px rounded-lg border-0 border-transparent" aria-hidden="true"></span>
        </label>
        <!-- Active: "border-violet-600 ring-2 ring-violet-600", Not Active: "border-gray-300" -->
        <label class="course relative flex cursor-pointer rounded-lg bg-violet-50 p-4 focus:outline-none">
            <input type="radio" name="project-type" value="Newsletter" class="sr-only" aria-labelledby="project-type-0-label" aria-describedby="project-type-0-description-0 project-type-0-description-1">
            <span class="flex flex-1">
                <span class="flex flex-col">
                    <span id="project-type-0-label" class="block text-sm font-medium text-violet-800">Nguyên lý hệ điều hành</span>
                    <span id="project-type-0-description-0" class="mt-1 flex items-center text-sm text-gray-500">Chưa có câu hỏi nào được tạo</span>
                    <span id="project-type-0-description-1" class="mt-6 text-sm font-medium text-gray-900">0 câu hỏi</span>
                </span>
            </span>
            <!-- Not Checked: "invisible" -->
            <svg class="checkbox h-5 w-5 text-violet-600 invisible" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.857-9.809a.75.75 0 00-1.214-.882l-3.483 4.79-1.88-1.88a.75.75 0 10-1.06 1.061l2.5 2.5a.75.75 0 001.137-.089l4-5.5z" clip-rule="evenodd" />
            </svg>
            <!--
              Active: "border", Not Active: "border-2"
              Checked: "border-violet-600", Not Checked: "border-transparent"
            -->
            <span class="pointer-events-none absolute -inset-px rounded-lg border-0 border-transparent" aria-hidden="true"></span>
        </label>
    </div>
</fieldset>
<div class="flex gap-x-10 justify-between">
    <div class="basis-1/2">
        <div class="flex items-center gap-x-8">
            @await Html.PartialAsync("_SectionHeadingPartial", "Nhập chi tiết câu hỏi")
            <div>
                <div class="sm:hidden">
                    <label for="tabs" class="sr-only">Select a tab</label>
                    <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
                    <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500">
                        <option selected>Chỉnh sửa</option>
                        <option>Xem trước</option>                       
                    </select>
                </div>
                <div class="hidden sm:block">
                    <nav id="tab-container" class="flex space-x-4" aria-label="Tabs">
                        <!-- Current: "bg-indigo-100 text-indigo-700", Default: "text-gray-500 hover:text-gray-700" -->                       
                        <button type="button" class="tab bg-indigo-100 text-indigo-700 rounded-md px-3 py-2 text-sm font-medium" data-tab="editor">Chỉnh sửa</button>
                        <button type="button" class="tab text-gray-500 hover:text-gray-700 rounded-md px-3 py-2 text-sm font-medium" data-tab="preview">Xem trước</button>
                    </nav>
                </div>
            </div>
        </div>
        
        <div class="mt-4 flex items-center gap-x-10">
            <div class="basis-72">
                <label id="question-type-label" class="block text-sm leading-6 text-gray-700 font-medium">Dạng câu hỏi</label>
                <div class="relative mt-2 dropdown-container">
                    <button type="button" id="question-type-dropdown-btn" class="dropdown-btn cursor-pointer relative w-full cursor-default rounded-md bg-gray-100 py-1.5 pl-3 pr-10 text-left text-gray-800 font-normal border-0 border-[#eee] focus:outline-none focus:ring-0 focus:ring-violet-600 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                        <span class="selected-item block truncate">Chọn dạng câu hỏi</span>
                        <span class="absolute inset-y-0 right-0 flex items-center pr-2">
                            <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </button>

                    <!--
                      Select popover, show/hide based on select state.

                      Entering: ""
                        From: ""
                        To: ""
                      Leaving: "transition ease-in duration-100"
                        From: "opacity-100"
                        To: "opacity-0"
                    -->
                    <ul id="question-type-dropdown" class="dropdown cursor-pointer opacity-0 pointer-events-none absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md bg-white shadow-md py-1 text-base ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                        <!--
                          Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

                          Highlighted: "bg-violet-600 text-white", Not Highlighted: "text-gray-900"
                        -->
                        <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" data-type="singleChoice" role="option">
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                            <span class="dropdown-item-name font-normal block truncate">Trắc nghiệm đơn</span>

                            <!--
                              Checkmark, only display for selected option.

                              Highlighted: "text-white", Not Highlighted: "text-violet-600"
                            -->
                            <span class="dropdown-item-checkmark text-white absolute inset-y-0 right-0 flex items-center pr-4">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" data-type="multipleChoice" role="option">
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                            <span class="dropdown-item-name font-normal block truncate">Trắc nghiệm nhiều</span>

                            <!--
                              Checkmark, only display for selected option.

                              Highlighted: "text-white", Not Highlighted: "text-violet-600"
                            -->
                            <span class="dropdown-item-checkmark text-white absolute inset-y-0 right-0 flex items-center pr-4">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" data-type="essay" role="option">
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                            <span class="dropdown-item-name font-normal block truncate">Tự luận</span>

                            <!--
                              Checkmark, only display for selected option.

                              Highlighted: "text-white", Not Highlighted: "text-violet-600"
                            -->
                            <span class="text-white absolute inset-y-0 right-0 flex items-center pr-4 dropdown-item-checkmark">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" data-type="trueFalse" role="option">
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                            <span class="dropdown-item-name font-normal block truncate">Đúng - Sai</span>

                            <!--
                              Checkmark, only display for selected option.

                              Highlighted: "text-white", Not Highlighted: "text-violet-600"
                            -->
                            <span class="text-white absolute inset-y-0 right-0 flex items-center pr-4 dropdown-item-checkmark">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" data-type="fillInBlank" role="option">
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                            <span class="dropdown-item-name font-normal block truncate">Điền vào chỗ trống</span>

                            <!--
                              Checkmark, only display for selected option.

                              Highlighted: "text-white", Not Highlighted: "text-violet-600"
                            -->
                            <span class="text-white absolute inset-y-0 right-0 flex items-center pr-4 dropdown-item-checkmark">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <!-- More items... -->
                    </ul>
                </div>
            </div>
            <div class="basis-64">
                <label id="question-level-label" class="block text-sm leading-6 text-gray-700 font-medium">Mức độ</label>
                <div class="relative mt-2 dropdown-container">
                    <button type="button" id="question-level-dropdown-btn" class="dropdown-btn cursor-pointer relative w-full cursor-default rounded-md bg-gray-100 py-1.5 pl-3 pr-10 text-left text-gray-800 font-normal border-0 border-[#eee] focus:outline-none focus:ring-0 focus:ring-violet-600 sm:text-sm sm:leading-6" aria-haspopup="listbox" aria-expanded="true" aria-labelledby="listbox-label">
                        <span class="selected-item block truncate">Chọn mức độ câu hỏi</span>
                        <span class="absolute inset-y-0 right-0 flex items-center pr-2">
                            <svg class="h-5 w-5 text-gray-500" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                <path fill-rule="evenodd" d="M10 3a.75.75 0 01.55.24l3.25 3.5a.75.75 0 11-1.1 1.02L10 4.852 7.3 7.76a.75.75 0 01-1.1-1.02l3.25-3.5A.75.75 0 0110 3zm-3.76 9.2a.75.75 0 011.06.04l2.7 2.908 2.7-2.908a.75.75 0 111.1 1.02l-3.25 3.5a.75.75 0 01-1.1 0l-3.25-3.5a.75.75 0 01.04-1.06z" clip-rule="evenodd" />
                            </svg>
                        </span>
                    </button>

                    <!--
                      Select popover, show/hide based on select state.

                      Entering: ""
                        From: ""
                        To: ""
                      Leaving: "transition ease-in duration-100"
                        From: "opacity-100"
                        To: "opacity-0"
                    -->
                    <ul id="question-level-dropdown" class="dropdown cursor-pointer pointer-events-none opacity-0 absolute z-10 mt-1 max-h-60 w-full overflow-auto rounded-md shadow-md bg-white py-1 text-base ring-1 ring-black ring-opacity-5 focus:outline-none sm:text-sm" tabindex="-1" role="listbox" aria-labelledby="listbox-label" aria-activedescendant="listbox-option-3">
                        <!--
                          Select option, manage highlight styles based on mouseenter/mouseleave and keyboard navigation.

                          Highlighted: "bg-violet-600 text-white", Not Highlighted: "text-gray-900"
                        -->
                        <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" role="option">
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                            <span class="dropdown-item-name font-normal block truncate">Nhận biết</span>

                            <!--
                              Checkmark, only display for selected option.

                              Highlighted: "text-white", Not Highlighted: "text-violet-600"
                            -->
                            <span class="text-white absolute inset-y-0 right-0 flex items-center pr-4 dropdown-item-checkmark">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" role="option">
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                            <span class="dropdown-item-name font-normal block truncate">Thông hiểu</span>

                            <!--
                              Checkmark, only display for selected option.

                              Highlighted: "text-white", Not Highlighted: "text-violet-600"
                            -->
                            <span class="text-white absolute inset-y-0 right-0 flex items-center pr-4 dropdown-item-checkmark">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" role="option">
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                            <span class="dropdown-item-name font-normal block truncate">Vận dụng</span>

                            <!--
                              Checkmark, only display for selected option.

                              Highlighted: "text-white", Not Highlighted: "text-violet-600"
                            -->
                            <span class="text-white absolute inset-y-0 right-0 flex items-center pr-4 dropdown-item-checkmark">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <li class="dropdown-item text-gray-900 relative select-none py-2 pl-3 pr-9" role="option">
                            <!-- Selected: "font-semibold", Not Selected: "font-normal" -->
                            <span class="dropdown-item-name font-normal block truncate">Vận dụng cao</span>

                            <!--
                              Checkmark, only display for selected option.

                              Highlighted: "text-white", Not Highlighted: "text-violet-600"
                            -->
                            <span class="text-white absolute inset-y-0 right-0 flex items-center pr-4 dropdown-item-checkmark">
                                <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M16.704 4.153a.75.75 0 01.143 1.052l-8 10.5a.75.75 0 01-1.127.075l-4.5-4.5a.75.75 0 011.06-1.06l3.894 3.893 7.48-9.817a.75.75 0 011.05-.143z" clip-rule="evenodd" />
                                </svg>
                            </span>
                        </li>
                        <!-- More items... -->
                    </ul>
                </div>
            </div>
        </div>
        <div class="mt-6 mb-10" id="question-editor-container">
            <label for="question-content" class="block text-sm leading-6 text-gray-700 font-medium">Nội dung câu hỏi</label>
            <div class="mt-2">
                <textarea id="question-content-editor"></textarea>
            </div>
        </div>
        <div id="question-option-container"></div>
    </div>
    <div class="basis-1/2"></div>
</div>
<div class="mt-10 flex items-center gap-x-5">
    <button type="button" class="rounded-md bg-violet-800 px-3.5 py-2.5 text-sm font-semibold text-white shadow-sm hover:bg-violet-700 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-600">Tạo câu hỏi</button>
    <button type="button" class="rounded-md bg-violet-100 px-3.5 py-2.5 text-sm font-semibold text-violet-700 shadow-sm hover:bg-violet-200 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-violet-600">Lưu nháp</button>
    <a href="/question" class="font-semibold text-sm text-violet-800 hover:text-violet-700">Hủy</a>
</div>
<script src="~/lib/tinymce/tinymce.min.js" referrerpolicy="origin"></script>
<script src="~/js/pages/create-question.page.js" type="module"></script>
