@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Làm bài thi";
    Layout = "_Layout";
}

<div class="h-full">
    <div class="mx-auto max-w-screen-lg h-full flex flex-col justify-center">
        <section class="p-8 bg-white rounded-lg hidden">        
            <div class="space-y-6">
                <h2 class="text-2xl uppercase text-center tracking-tight font-extrabold text-gray-900 dark:text-white">Nội quy kì thi</h2>
                <h3 class="text-xl font-semibold text-gray-700">1. Không trao đổi bài</h3>
                <ul class="space-y-3 text-gray-500 list-inside dark:text-gray-400">
                    <li class="flex gap-x-3">
                        <svg class="w-3.5 h-3.5 mt-1 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        Không hợp tác hoặc giao tiếp với các cá nhân khác trong kỳ thi.
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="w-3.5 h-3.5 mt-1 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        Bất kỳ hình thức hợp tác nào, bao gồm chia sẻ câu trả lời hoặc thảo luận về các câu hỏi thi, đều bị nghiêm cấm.
                    </li>
                </ul>
                <h3 class="text-xl font-semibold text-gray-700">2. Không dùng hai màn hình</h3>
                <ul class="space-y-3 text-gray-500 list-inside dark:text-gray-400">
                    <li class="flex gap-x-3">
                        <svg class="w-3.5 h-3.5 mt-1 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        Nếu được người hướng dẫn chỉ định, chỉ sử dụng một màn hình duy nhất trong kỳ thi.
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="w-3.5 h-3.5 mt-1 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        Đóng mọi ứng dụng hoặc cửa sổ không cần thiết trên máy tính của bạn.
                    </li>
                </ul>
                <h3 class="text-xl font-semibold text-gray-700">3. Kết nối Internet liên tục</h3>
                <ul class="space-y-3 text-gray-500 list-inside dark:text-gray-400">
                    <li class="flex gap-x-3">
                        <svg class="w-3.5 h-3.5 mt-1 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        Duy trì kết nối internet ổn định và liên tục trong suốt thời gian thi.
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="w-3.5 h-3.5 mt-1 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        Tránh chuyển đổi giữa các mạng để tránh bị gián đoạn.
                    </li>
                </ul>
                <h3 class="text-xl font-semibold text-gray-700">4. Báo cáo sự cố</h3>
                <ul class="space-y-3 text-gray-500 list-inside dark:text-gray-400">
                    <li class="flex gap-x-3">
                        <svg class="w-3.5 h-3.5 mt-1 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        Báo cáo ngay mọi vấn đề kỹ thuật gặp phải trong kỳ thi tới các kênh hỗ trợ kỹ thuật được chỉ định.
                    </li>
                    <li class="flex gap-x-3">
                        <svg class="w-3.5 h-3.5 mt-1 text-gray-500 dark:text-gray-400 flex-shrink-0" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                            <path d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5Zm3.707 8.207-4 4a1 1 0 0 1-1.414 0l-2-2a1 1 0 0 1 1.414-1.414L9 10.586l3.293-3.293a1 1 0 0 1 1.414 1.414Z" />
                        </svg>
                        Giữ một bản ghi các thông báo lỗi hoặc các vấn đề để tham khảo.
                    </li>
                </ul>
            </div>            
            <div class="relative flex mt-16 justify-center">
                <div class="flex h-6 items-center">
                    <input id="confirm" name="confirm" type="checkbox" class="h-5 w-5 rounded bg-gray-200 border-none text-indigo-600 focus:ring-0 focus:ring-offset-0">
                </div>
                <div class="ml-3 text-lg leading-6">
                    <label for="confirm" class="font-medium text-gray-900">Tôi đã đọc kĩ và cam kết tuân thủ đúng theo nội quy.</label>                   
                </div>
            </div>          
        </section>
        <section class="p-8 bg-white rounded-lg space-y-10">
            <h2 class="text-xl uppercase text-center tracking-tight font-extrabold text-gray-900 dark:text-white">Kiểm tra kĩ thuật</h2>
            <div>
                <h4 class="sr-only">Status</h4>
                <p class="text-sm font-medium text-gray-900">Migrating MySQL database...</p>
                <div class="mt-6" aria-hidden="true">
                    <div class="overflow-hidden rounded-full bg-gray-200">
                        <div class="h-2 rounded-full bg-indigo-600" style="width: 37.5%"></div>
                    </div>
                    <div class="mt-6 hidden grid-cols-4 text-sm font-medium text-gray-600 sm:grid">
                        <div class="text-indigo-600">Copying files</div>
                        <div class="text-center text-indigo-600">Migrating database</div>
                        <div class="text-center">Compiling assets</div>
                        <div class="text-right">Deployed</div>
                    </div>
                </div>
            </div>
            <div class="flex justify-center">
                <button type="button" class="font-semibold bg-violet-300 text-violet-800 rounded-md px-3 py-2 hover:text-violet-900 hover:bg-violet-400">Bắt đầu thi</button>
            </div>
        </section>
    </div>
</div>
